.module-section {
  background-color: #191919;
  border: 1px solid #191919;
  border-radius: 15px;
  margin-top: 10px;
}

.iteration-section {
  padding: 0.5rem;
  background: black;
  margin: 0.2rem 1rem;
  color: #737373;
}

.iteration-section.error {
  border: 1px solid red;
}

.iteration-section.first {
  border-radius: 10px 10px 0 0;
}

.iteration-section.last {
  border-radius: 0 0 10px 10px;
}

.it-input {
  background: inherit;
  border: none;
  outline: none;
  color: #fff;
  width: 70%;
}

.it-title {
  color: #a6a7a6;
  text-align: left;
  margin-left: 3rem;
  margin-right: 1rem;
}

.action-btn {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #747474;
}

.action-btn:hover {
  color: #fff;
}

.action-btn.disabled:hover {
  color: #747474;
  cursor: not-allowed;
}

.genetate-btn {
  background: inherit;
  color: #fff;
  border: 2px solid #544d4d;
  border-radius: 4px;
  padding: 3px 15px;
  font-family: sans-serif;
}

.genetate-btn.selected {
  border-color: green;
  color: green;
}

.generator-section {
  margin-left: 5rem;
  text-align: left;
}

.green-dot {
  font-weight: bold;
  color: green;
}

.cursor-pointer {
  cursor: pointer;
}
